---
import BlogPostLayout from '../../layouts/BlogPostLayout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import Pagination from '../../components/Pagination.astro';

const allPosts = await getCollection('blog');
const title = "Blog";
const description = "A collection of my thoughts and experiences as a software developer.";

const { page } = Astro.params;
const pageSize = 6;
const currentPage = page ? Number(page) : 1;
const totalPages = Math.ceil(allPosts.length / pageSize);

const startIndex = (currentPage - 1) * pageSize;
const endIndex = startIndex + pageSize;
const posts = allPosts.slice(startIndex, endIndex);

const prevPage = currentPage > 1 ? `/blog/page/${currentPage - 1}` : undefined;
const nextPage = currentPage < totalPages ? `/blog/page/${currentPage + 1}` : undefined;

const url = {
  prev: prevPage,
  next: nextPage,
};
---

<BlogPostLayout title={title}>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {posts.map((post: CollectionEntry<'blog'>) => (
      <div class="card bg-base-100 shadow-xl">
        {post.data.image && <img src={post.data.image} alt={post.data.title} class="rounded-t-md" />}
        <div class="card-body">
          <h2 class="card-title">{post.data.title}</h2>
          <p>{post.data.description}</p>
          <div class="card-actions justify-end">
            <a href={`/blog/${post.slug}`} class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    ))}
  </div>
  <Pagination currentPage={currentPage} totalPages={totalPages} url={url} />
</BlogPostLayout>
