---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const tags = new Set(posts.flatMap((post: CollectionEntry<'blog'>) => post.data.tags));
  return Array.from(tags).map((tag) => ({
    params: { tag },
  }));
}

interface Props {
  tag: string;
}

const { tag } = Astro.props;
const posts = await getCollection('blog', (post: CollectionEntry<'blog'>) => post.data.tags.includes(tag));
const title = `Posts tagged with "${tag}"`;
const description = `A collection of blog posts tagged with "${tag}".`;
---

<BlogPostLayout title={title} description={description} pubDate="" author="">
  <ul class="space-y-4">
    {posts.map((post: CollectionEntry<'blog'>) => (
      <li class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">{post.data.title}</h2>
          <p>{post.data.description}</p>
          <div class="card-actions justify-end">
            <a href={`/blog/${post.slug}`} class="btn btn-primary">Read More</a>
          </div>
        </div>
      </li>
    ))}
  </ul>
</BlogPostLayout>
