---
import { Icon } from 'astro-icon/components';
import { techIconMap } from '../utils/techIcons';

interface Props {
    project: {
        title: string;
        description: string;
        liveDemoUrl: string;
        githubUrl: string;
        techStack: string[];
        slug?: string;
    };
    index?: number;
}

const { project, index = 0 } = Astro.props;
const { title, description, liveDemoUrl, githubUrl, techStack, slug } = project;
---

<div class="card bg-base-200 shadow-xl h-full flex flex-col">
  <div class="card-body flex flex-col justify-between flex-grow p-6">
    <div>
      <h2 class="card-title text-xl mb-3">{title}</h2>
      <p class="mb-4 text-base-content/80">{description}</p>
      <div class="flex flex-wrap gap-2 mb-4">
        {techStack.map((tech) => (
          <span class="inline-flex items-center px-3 py-1.5 rounded-lg text-sm font-medium bg-base-200 dark:bg-base-300 hover:bg-base-300 dark:hover:bg-base-200 transition-colors duration-200 gap-1.5 border border-base-300 dark:border-base-200">
            {techIconMap[tech] && (
              <Icon 
                name={techIconMap[tech]} 
                class="w-5 h-5"
              />
            )}
            <span class="relative top-[1px]">{tech}</span>
          </span>
        ))}
      </div>
    </div>
    <div class="card-actions justify-end">
      <a href={liveDemoUrl} class="btn btn-primary btn-sm">Live Demo</a>
      <a href={`/projects/${slug}`} class="btn btn-secondary btn-sm">View Project</a>
      <a href={githubUrl} class="btn btn-accent btn-sm">GitHub</a>
    </div>
  </div>
</div>
