---
import { Icon } from 'astro-icon/components';
import { techIconMap } from '../utils/techIcons';

interface Props {
    project: {
        title: string;
        description: string;
        liveDemoUrl: string;
        githubUrl: string;
        techStack: string[];
        slug?: string;
    };
    index?: number;
}

const { project, index = 0 } = Astro.props;
const { title, description, liveDemoUrl, githubUrl, techStack, slug } = project;
---

<div class="card bg-base-200 shadow-xl h-full">
  <div class="card-body flex flex-col p-4 sm:p-6">
    <div class="flex-grow">
      <h2 class="card-title text-lg sm:text-xl mb-2 sm:mb-3">{title}</h2>
      <p class="mb-3 sm:mb-4 text-sm sm:text-base text-base-content/80">{description}</p>
    </div>
    
    <div class="mt-auto space-y-3 sm:space-y-4">
      <div class="card-actions flex-wrap justify-end gap-2 pt-2">
        <a href={liveDemoUrl} class="btn btn-primary btn-xs sm:btn-sm">Live Demo</a>
        <a href={`/projects/${slug}`} class="btn btn-secondary btn-xs sm:btn-sm">View Project</a>
        <a href={githubUrl} class="btn btn-accent btn-xs sm:btn-sm">GitHub</a>
      </div>
    </div>
  </div>
</div>
