---
import Layout from './Layout.astro';

interface LayoutProps {
  title: string;
}

interface Props extends LayoutProps {
  pubDate?: string;
  author?: string;
  image?: string;
  tags?: string[];
}

const { title, pubDate, author, image, tags, ...props } = Astro.props;
---

<Layout title={title} {...props}>
  <article class="pt-16">
    {image && <img src={image} alt="" class="mt-4 rounded-md w-full" />}
    <div class="mb-8">
      <h1 class="text-3xl font-bold mb-2">{title}</h1>
      {pubDate && author && (
        <div class="text-sm text-gray-500 dark:text-gray-400">
          Created by {author} on <time>{pubDate}</time>
        </div>
      )}
      {tags && (
        <div class="mt-4 flex flex-wrap gap-2">
          {tags.map((tag) => (
            <span class="badge badge-secondary">{tag}</span>
          ))}
        </div>
      )}
    </div>
    <slot />
  </article>
</Layout>
